
		<html lang="pt-br">
			<head>
				<meta charset="UTF-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" href="/css/style.css">
				<title>WEB CAR</title>
			</head>
			<body>
				
				<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2 id="detalhes">Web Car</h2>
								<p id="detalhes">+ informações sobre seu veiculo</p>
							</div>
							

						</div>
					  </section> 
					</div>
			
				</div>  
				<p></p>
				<section>
					<div>
						<img src=<%= cars.imagem %> width=450 widget=400 alt=<%= cars.marca %> />
						<p></p>
						<h2><%= cars.modelo %></h2>
						<h2><%= cars.marca %></h2>
						<p>ANO <%= cars.ano %></p>
						<p>	
							MOTOR: <%= cars.motor %> cilindradas</p> 
							<p>CAMBIO <%= cars.cambio %></p>
							<p>COR: <%= cars.cor %></p>
						
						<h3><%= cars.valor %></h3>
						<p><%= cars.descricao %></p>
					</div>
					<a href="#">Comprar!</a>
					<a href="/">Voltar</a>
				</section> 
				<ul>

					<li><a href="http://localhost:3000/" class="button alt large icon solid fa-question-circle">Voltar</a></li>

				</ul>
				
				<!-- Footer -->

				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Linhas de crédito</h3>
										<ul class="style2">
											<li><a href="#">Financiamento em até 60 x</a></li>
											<li><a href="#">Consórciso Web Car</a></li>
											<li><a href="#">Catão de Crédito em até 24 X</a></li>
											<li><a href="#">A vista com descontos de até 10%</a></li>
											
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Seguro Auto</h3>
										<ul class="style2">
											<li><a href="#">Porto Seguro</a></li>
											<li><a href="#">Allianz Seguradora</a></li>
											<li><a href="#">Mafre Seguros</a></li>
											<li><a href="#">Youse Seguros</a></li>
											
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Procedência</h3>
										<ul class="style2">
											<li><a href="#">Vistoria 3 Visão</a></li>
											
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Entre em contato</h3>
										<ul>
											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
										</ul>
										<p>Rua Suécia, 444<br />
										Paraíso do Norte, PR CEP 87.780-000<br />
										(44) 99746-1828</p>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>&copy; Untitled. Todos os direitos reservados</li><li>Design: <a href="http://html5up.net">Luiz Alberto Coimbra</a></li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

  
</body>
</html>